.match-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  width: 150px;
  background-color: #0f172a;
  border: none;
  border-radius: 15px;
  padding: 20px;
}

@media (min-width: 768px) {
  .match-card {
    height: 300px;
    width: 230px;
    border-radius: 15px;
    padding: 20px;
  }
}

.match-card-img {
  height: 60px;
  width: 60px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .match-card-img {
    height: 80px;
    width: 80px;
  }
}

.match-card-text {
  color: #ffffff;
  font-family: Bree Serif;
  margin-bottom: 15px;
  margin-top: 0px;
  text-align: center;
}

.small {
  font-size: 12px;
}

.Won {
  color: #18ed66;
}

.Lost {
  color: #e31a1a;
}
